@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Changa+One:ital@0;1&family=Jersey+10&family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Send+Flowers&family=Signika:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Amatic+SC:wght@400;700&family=Bungee&family=DynaPuff:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Playwrite+DE+SAS:wght@100..400&family=Playwrite+US+Modern:wght@100..400&family=Rock+Salt&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-image: url("https://i.pinimg.com/736x/2a/84/f2/2a84f24812024cc76fa3010d920b2a20.jpg");
  overflow-x: hidden;
  background-size: 1520px;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  background-color: #713D8F;
  box-sizing: border-box;
  justify-content: space-between; 
  gap: 700px;
    z-index: 2; 
    position: relative;
}
nav {
  flex: 1; 
  justify-content: right;
}
nav ul {

  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  width: 100%; 
}
nav ul li {
  display: inline-block; 

}
nav ul li a {
  font-size: 25px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  transition: all 0.2s;
}
nav ul li a:hover {
  transform: scale(1.1);
  text-decoration: none;
  color: rgb(174, 135, 194);
}

.logo img {
  width: 120px;
  height: auto;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -250px;        
  z-index: 2;               
  overflow-x: auto; /* permite scroll horizontal */
  scroll-behavior: smooth; /* animação suave */

}


.carousel-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scroll 40s linear infinite;
  z-index: 2;
  padding: 10px;
}

.card {
  min-width: 320px;
  max-width: 320px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  flex-shrink: 0;
  transition: transform 0.3s ease;

  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 95%;          
  aspect-ratio: 3 / 2;  
  object-fit: cover;    
  display: block;    
  margin: 0 auto;        
  border-radius: 8px;
}

.card h3 {
  font-size: 1.3rem;
  padding: 15px;
  color: #333;
}

.card p {
  margin-top: 15px;
  padding: 0 15px 20px;
  color: #555;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 15px;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    min-width: 260px;
    max-width: 260px;
  }
}

.box {
  width: 1250px;
  height: 550px;
  margin: 20px auto;
  background-color: #9d65c5;
  color: white;
  border-radius: 60px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  padding: 15px;
  font-size: 22px;
  align-items: center;
  display: flex;
  flex-direction: column;
    gap: 20px;
  position: relative;       
  z-index: 1;
  margin-top: 50px;
}

.box h1 {
  font-size: 50px;
  margin-bottom: 15px;
  padding: 0;
  margin-top: 30px;
  font-family: Aclonica;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.718);
}

.box h3 {
  font-size: 28px;
  margin-bottom: 10px;
    color: #3f1c53;
}

.box h6 {
  font-size: 18px;
  margin-bottom: 5px;
}

.title {
  text-align: center;
  margin: 10px 20px 30px 20px;
}

.title h1 {
  font-size: 35px;
  color: #3f1c53;
  margin-bottom: 10px;
  font-family: 'Aclonica', sans-serif;

}

.title h2 {
  font-size: 20px;
  color: #9e6abf;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 30px;
}

.insights {
  background-color: #f3e8fa;
  padding: 60px 20px;
  margin-top: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

footer {
    background-color: #463351;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 2;
}

footer p {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.card h2 {
  font-size: 15px;
  background-color: #713D8F;
  color: #ffffff;
  margin-bottom: 10px;
  border-radius: 20px;
  width: max-content;
  padding: 6px;
  margin-left: 10px;
}

.card h4 {
  font-size: 12px;
  color: #777777;
  margin-bottom: 10px;
  margin-left: 10px;
}

.card2 {
    width: 300px;       
    height: 400px;            
    margin: 20px auto;
    background-color: rgb(191, 158, 214);     
    color: white;      
    border-radius: 15px;            
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);              
    font-family: "Josefin Sans", sans-serif;
    padding: 10px;
    display: flex;
    gap: 6px;
    flex-direction: column;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card2 img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
  aspect-ratio: 3/2;
  display: block;
  object-fit: cover;      
}
.grade {
    width: 90%;       
    height: auto;            
    margin: 0px auto;                       
    padding: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card2 h2 {
  font-size: 15px;
  background-color: #713D8F;
  color: #ffffff;
  border-radius: 20px;
  width: max-content;
  padding: 6px;
  margin-left: 2px;
  margin-bottom: 10px;
}

.card2 h4 {
  font-size: 12px;
  color: #777777;
  margin-bottom: 10px;
}
.card2 h3 {
  font-size: 1.3rem;
  padding: 5px;
  color: #333;
  margin-top: 5px;


}

.card2 p {
  margin-top: 10px;
  padding: 0 5px 10px;
  color: #ffffff;
}

.card2:hover {
  transform: translateY(-8px);
  
}

.grade h6 {
  font-size: 20px;
  width: max-content;
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
  background-color: #713D8F;
  padding: 3px 20px 3px 20px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.2s;
  cursor: pointer;
}

.grade h6:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}



        .search-box input[type="text"] {
            padding: 12px 20px;
            width: 300px;
            border: none;
            border-radius: 50px;
            outline: none;
            font-size: 1rem;
            transition: all 0.3s ease;
        }

        .search-box input[type="text"]:focus {
            width: 400px;
            box-shadow: 0 0 10px rgba(255,255,255,0.7);
            background-color: rgba(255,255,255,0.2);
        }

        .search-box button {
            padding: 12px 25px;
            border: none;
            border-radius: 50px;
            background-color: #fff;
            color: #5d38a2;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .search-box button:hover {
            background-color: #632f8b;
            color: #fff;
            transform: scale(1.05);
        }

/* Chrome, Safari e Opera */
.carousel-container::-webkit-scrollbar {
  display: none;
}

