@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Changa+One:ital@0;1&family=Jersey+10&family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Send+Flowers&family=Signika:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Amatic+SC:wght@400;700&family=Bungee&family=DynaPuff:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Playwrite+DE+SAS:wght@100..400&family=Playwrite+US+Modern:wght@100..400&family=Rock+Salt&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-image: url("https://i.pinimg.com/736x/2a/84/f2/2a84f24812024cc76fa3010d920b2a20.jpg");
  overflow-x: hidden;
  background-size: 1520px;

}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  background-color: #713D8F;
  box-sizing: border-box;
  justify-content: space-between; /* This is the key line to add */
  gap: 700px;
}
nav {
  flex: 1; /* nav ocupa todo o espaço restante */
  justify-content: right;
}
nav ul {
  /* This is what spreads out the links */
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  width: 100%; /* ul ocupa todo o nav */
}
nav ul li {
  display: inline-block; /* garante que o li fique em linha */

}
nav ul li a {
  font-size: 25px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  transition: all 0.2s;
}
nav ul li a:hover {
  transform: scale(1.1);
  text-decoration: none;
  color: rgb(174, 135, 194);
}

.logo img {
  width: 120px;
  height: auto;
}

.sobre-container {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.imagem {
    width: 100%; 
    height: 150px; 
    overflow: hidden; 
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    margin: 10px auto; 
    display: block; 
}

.imagem img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: none;
    transition: transform 0.3s ease;
    display: block;
}

.imagem img:hover {
    transform: scale(1.05);
}

.box {
    width: 300px;       
    height: 350px;            
    margin: 5px auto;
    background-color: rgb(255, 255, 255);     
    color: rgb(0, 0, 0);    
    border-radius: 10px;            
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);              
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.box h1 {
  margin-bottom: 10px;
  text-align: left;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}

.box p {
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-family: "Josefin Sans", sans-serif;
}

.cursos {
  background-color: rgb(121, 95, 149); 
  padding: 20px 20px 60px 20px; 
  width: 100%; 
  box-sizing: border-box;
  margin-top: 0; 
  border-radius: 0;
  box-shadow: none;
  border-radius: 2%;

}

.cursos {
  /* ... */
  margin-top: 0; /* Certifique-se de que esta linha está presente! */
  /* ... */
}

.título {
  background-color: transparent; 
  width: max-content; 
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 700px;
  flex-direction: column;
  margin: auto auto;
}

.título h1 {
  margin-top: 80px;
  margin-bottom: 0px; 
  font-size: 68px;
  font-family: "Aclonica", sans-serif;
  color: #602a8c;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: #ffffff 2px 2px 4px;
}


/* 1. Aplica Flexbox para alinhamento horizontal */
.detalhes-curso {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-bottom: 10px; 
}

/* 2. Ajuste o estilo do texto de duração */
.duracao {
    font-size: 15px;
  background-color:#ccaae1;
  color: #ffffff;
  border-radius: 5px;
  width: max-content;
  padding: 6px;
  margin-left: 2px;
  margin-bottom: 10px;
  font-family: "Josefin Sans", sans-serif;
}

/* 3. Ajuste o estilo do "Online" */
.online {
    font-size: 15px;
  background-color: #7c5990;
  color: #ffffff;
  border-radius: 5px;
  width: max-content;
  padding: 6px;
  margin-left: 2px;
  margin-bottom: 10px;
  font-family: "Josefin Sans", sans-serif;
}

.box h4 {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 0%;
}

.box button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: #533267;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.box button[type="submit"]:hover {
    background-color: #9a7cab;
}

.certificado {
  background-color: #ebdff2;
  box-shadow: #000000 2px 2px 4px;
  width: 850px;
  height: 390px;
  margin: auto auto;
  display: flex;
  border-radius: 15px;
  margin-bottom: 100px;
  align-items: center;
  padding: 15px;

}

.certificado h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #5b2287;
  padding: 0px;
  font-size: 40px;
}
.certificado p {
  font-family: "Josefin Sans", sans-serif;
  color: #000000;
  padding: 0 10px 0px 10px;
  font-size: 18px;
}

.imagem-certificado img {
    width: auto;
    height: 310px; 
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: none;
    transition: transform 0.3s ease;
    display: block;
    overflow: hidden; 
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    margin: 10px auto; 
    display: block;
    aspect-ratio: 3 / 2;  
    object-fit: cover;  
    
}
.texto-certificado img {
    width: 110px;
    height: auto;
    padding: 10px;
    display: block;
}

.texto-certificado {
  padding: 15px;
  margin: 0px 5px 0px 10px;
  text-align: left;
  align-items: start;


}

.carousel input[type="radio"] {
  display: none;
}
.carousel {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 400px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 110px;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: 100%;
  height: 500px;
  width: auto;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#slide1:checked ~ .slides {
  transform: translateX(0%);
}
#slide2:checked ~ .slides {
  transform: translateX(-100%);
}
#slide3:checked ~ .slides {
  transform: translateX(-200%);
}
#slide4:checked ~ .slides {
  transform: translateX(-300%);
}
#slide5:checked ~ .slides {
  transform: translateX(-400%);
}
#slide6:checked ~ .slides {
  transform: translateX(-500%);
}
#slide7:checked ~ .slides {
  transform: translateX(-600%);
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 10;
  gap: 10px;
}
.nav-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background 0.3s;
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.8);
}
#slide1:checked ~ .navigation label:nth-child(1),
#slide2:checked ~ .navigation label:nth-child(2),
#slide3:checked ~ .navigation label:nth-child(3),
#slide4:checked ~ .navigation label:nth-child(4),
#slide5:checked ~ .navigation label:nth-child(5),
#slide6:checked ~ .navigation label:nth-child(6),
#slide7:checked ~ .navigation label:nth-child(7) {
  background: rgba(255, 255, 255);
}
.arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  padding: 0 20px;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 10;
}
.arrow {
  position: absolute;
  font-size: 30px; /* diminui o tamanho da seta */
  color: white;
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px 15px; /* ajusta o espaço dentro da seta */
  border-radius: 50%; /* deixa totalmente arredondada */
  transition: background-color 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
}
.arrow:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Fundo mais escuro ao passar o mouse */
}
.arrow.prev {
  left: 0;
}
.arrow.next {
  right: 0;
}
#slide1:checked ~ .arrows .next-1,
#slide1:checked ~ .arrows .prev-7 {
  opacity: 1;
  visibility: visible;
}
#slide2:checked ~ .arrows .next-2,
#slide2:checked ~ .arrows .prev-1 {
  opacity: 1;
  visibility: visible;
}
#slide3:checked ~ .arrows .next-3,
#slide3:checked ~ .arrows .prev-2 {
  opacity: 1;
  visibility: visible;
}
#slide4:checked ~ .arrows .next-4,
#slide4:checked ~ .arrows .prev-3 {
  opacity: 1;
  visibility: visible;
}
#slide5:checked ~ .arrows .next-5,
#slide5:checked ~ .arrows .prev-4 {
  opacity: 1;
  visibility: visible;
}
#slide6:checked ~ .arrows .next-6,
#slide6:checked ~ .arrows .prev-5 {
  opacity: 1;
  visibility: visible;
}
#slide7:checked ~ .arrows .next-7,
#slide7:checked ~ .arrows .prev-6 {
  opacity: 1;
  visibility: visible;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  gap: 20px;

}
footer {
    background-color: #463351;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 2;
}

footer p {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.cursos h6 {
  font-size: 20px;
  width: max-content;
  margin-top: 40px;
  color: #59117a;
  background-color: #e3d1ef;
  padding: 3px 20px 3px 20px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
}
.cursos h6:hover {
  background-color: #9a7cab;
  transform: scale(1.05);
}
